<nav class="topnav" id="myTopnav">

    <a routerLink="home">
        <i class="fa fa-fw fa-home"></i>HOME</a>

  <div class="dropdown">
    <button class="dropbtn">
      <i class="fa fa-address-card"></i> REGISTRATION<i class="fa fa-caret-down"></i>
    </button>

    <div class="dropdown-content">
      <a routerLink="reg">
        <img src="assets/images/icons/user-tie-solid.svg" style="height: 22px;" alt="user">  Customer</a>
      <a routerLink="reg">
        <img src="assets/images/icons/hands-helping-solid.svg" style="height: 22px;" alt="hands"> Company</a>
    </div>
  </div>

    <a routerLink="companies"><i class="fa fa-contao"></i>OMPANIES</a>
    <a routerLink="kupons">
      <img src="assets/images/icons/kupon.svg" style="height: 22px;" alt="user"> KUPONS</a>
    <a routerLink="about"><i class="fa fa-info-circle"></i> ABOUT</a>
</nav>
