.flex-cont {
  display: flex;
  flex-wrap: wrap;
}

.dws-wrapper {
  height: 90%;
  overflow: auto;
}

.imageBox {
  position: relative;
  border-radius: 100%;
  margin: 15px;
  overflow: hidden;
  height: 150px;
  width: 150px;
}

.imageBox a {
  position: absolute;
  top: 7%;
  left: 20%;
  height: 40px;
  min-width: 100px;
  border-radius: 100%;
  text-align: center;
  color: #495458;
  background-color: rgba(86, 191, 218, 0.507);
  padding: 5px 5px;
  border-left: 3px solid rgb(59, 61, 60);
  border-right: 3px solid rgb(59, 61, 60);
  text-decoration: none;
  font-family: inherit;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
  transform: translateX(-20%);
}

.imageBox:hover a {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
