<h3 class="wot">What's up, Admin?</h3>

<img class="img" src="/assets/images/admin.png" style=" width: 200px;">

<h3 class="compID">CUSTOMER ID NUMBER: #{{customer.id}}</h3>
<h3 class="custN">{{customer.firstName}} {{customer.lastName}}</h3>

<a class="up" routerLink="/admin-update-customer">Update customer {{customer.firstName}}</a>

<button class="delC" (click)="deleteCustomerById()">
  Delete customer {{customer.firstName}}</button>

<div class="cus">

  <table *ngIf="coupons">
    <tr class="main">
      <th>ID</th>
      <th>Title</th>
      <th>StartDate</th>
      <th>EndDate</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let coupon of coupons" class="str">
      <td><a routerLink="/coupon-details/{{coupon.id}}">{{coupon.id}}</a></td>
      <td>{{coupon.title}}</td>
      <td>{{coupon.startDate}}</td>
      <td>{{coupon.endDate}}</td>
      <td><a routerLink="/coupon-category/{{coupon.category}}">{{coupon.category}}</a></td>
      <td>{{coupon.amount}}</td>
      <td>{{coupon.price}}</td>
      <td>{{coupon.description}}</td>
      <td>
        <img src="{{coupon.imageURL}}" width=80px; height="80px">

      </td>
      <td><button (click)=deleteCustomersCoupon(coupon.id)><i class="fa fa-times" style="font-size:30px;
                color:lightblue;"></i></button></td>
    </tr>
  </table>

</div>
