section {
  height: 100%;
  border: 1px solid black;
  background-color: lightblue;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 13% 12% 72% 3%;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: span 12;
}

nav {
  grid-column: span 12;
  z-index: 1;
  margin: 0;
}

aside {
  margin-left: 5%;
  grid-column: span 3;
}

main {
  grid-column: span 9;
  margin: 0;
}

footer {
  grid-column: span 12;
}
